/.vscode
Project02_LogicalAgent/src/__pycache__/agent.cpython-312.pyc
Project02_LogicalAgent/src/__pycache__/environment.cpython-312.pyc
Project02_LogicalAgent/src/__pycache__/graphics_manager.cpython-312.pyc
Project02_LogicalAgent/src/__pycache__/inference_engine.cpython-312.pyc
Project02_LogicalAgent/src/__pycache__/knowledge_base.cpython-312.pyc
Project02_LogicalAgent/src/__pycache__/utilities.cpython-312.pyc
Project02_LogicalAgent/src/actions.log
